.body{
    background-color: antiquewhite;
    text-align: center;
    width: 350px;
    margin-left: 35%;
    margin-top: 5%;
    border-radius: 5%;
}
body{
    background-color: azure;
}
button{
    background-color: aqua;
    
}